//
// Fonts
//@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
//
// Variables
@import "variables";


.vv-h3--playlist_title {
  margin: 0;
}

.mdl-list__item {
  padding: 0;
}

.mdl-list {
  &.demo-list-three {
    overflow-y: auto;
  }

  .mdl-list__item-secondary-content {
    display: inline-block;

    a {
      color: black;
    }

    .vv-item--playlist_item_score {
      padding-bottom: 8px;
      padding-top: 6px;
      text-align: center;

      &.good {
        color: $brand-success;
      }

      &.neutral {
        color: $brand-warning;
      }

      &.bad {
        color: $brand-danger;
      }
    }
  }
}

.playlist-list_item--name {
  font-style: italic;
}